<nb-card>
  <nb-card-header>Szűrő</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-3">
        <ngx-dropdown-year (SelectYear)="setYear($event)"></ngx-dropdown-year>
      </div>
      <div class="col-lg-3">
        <ngx-dropdown-month (SelectMonth)="setMonth($event)"></ngx-dropdown-month>
      </div>
      <div class="col-lg-3">
        <button nbButton status="success" (click)="onRefresh()">
          Frissít
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<div class="row" [hidden]="hideDiagrams">
    <div class="col-lg-3">
      <nb-card>
        <nb-card-header>Good/Bad ratio</nb-card-header>
        <nb-card-body>
          <ngx-stat-pie-chart [hidden]="hideDiagrams"></ngx-stat-pie-chart>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-9">
      <nb-card>
        <nb-card-header *ngIf="month != -1">Last Month</nb-card-header>
        <nb-card-header *ngIf="month == -1">Last Year</nb-card-header>
        <nb-card-body>
          <ngx-days-line-chart [hidden]="hideDiagrams"></ngx-days-line-chart>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
