<nb-card>
    <nb-card-header>Hónap</nb-card-header>
    <nb-card-body>
      <nb-select fullWidth selected="0" (selectedChange)="addSelectedMonth($event)">
        <nb-option value="0">Összes</nb-option>
        <nb-option value="1">Január</nb-option>
        <nb-option value="2">Február</nb-option>
        <nb-option value="3">Március</nb-option>
        <nb-option value="4">Április</nb-option>
        <nb-option value="5">Május</nb-option>
        <nb-option value="6">Június</nb-option>
        <nb-option value="7">Július</nb-option>
        <nb-option value="8">Augusztus</nb-option>
        <nb-option value="9">Szeptember</nb-option>
        <nb-option value="10">Október</nb-option>
        <nb-option value="11">November</nb-option>
        <nb-option value="12">December</nb-option>
      </nb-select>
    </nb-card-body>
</nb-card>
