<div class="container">
    <div class="row">
        <div class="col-6">
            <ngx-seven-graph></ngx-seven-graph>
        </div>
        <div class="col-6">
            <ngx-month-pie-card></ngx-month-pie-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ngx-daily-graph [goodOrBad]="true"></ngx-daily-graph>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ngx-daily-graph [goodOrBad]="false"></ngx-daily-graph>
        </div>
    </div>
</div>

